<!-- Doctype HTML5 -->
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="fr" dir="ltr">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Centre Wallonie Bruxelles | Agenda</title>

  <meta name="author" content="">
  <meta name="description" content="Au travers d’une programmation résolument désanctuarisante et transdisciplinaire, le Centre Wallonie Bruxelles Paris est mandaté pour diffuser et valoriser des signatures d’artistes basé.e.s en Fédération Wallonie-Bruxelles, dans une perspective d’optimisation de leur irradiation en France.">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="57x57" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-57x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="114x114" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-114x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="72x72" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-72x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="144x144" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-144x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="60x60" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-60x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="120x120" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-120x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="76x76" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-76x.png" />
  <link rel="apple-touch-icon-precomposed" rel="apple-touch-icon" sizes="152x152" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-152x.png" />
  <link rel="icon" type="image/png" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-196x.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-96x.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-32x.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-16x.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-128x.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-144x.png" />
  <meta name="msapplication-square70x70logo" content="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-70x.png" />
  <meta name="msapplication-square150x150logo" content="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-150x.png" />
  <meta name="msapplication-wide310x150logo" content="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-310x.png" />
  <meta name="msapplication-square310x310logo" content="https://cwb.fr/media/site/7ef7c55620-1632331001/favicon-310x.png" />

  <meta property="og:url" content="https://cwb.fr/agenda">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Centre Wallonie Bruxelles | Agenda">
  <meta property="og:description" content="Au travers d’une programmation résolument désanctuarisante et transdisciplinaire, le Centre Wallonie Bruxelles Paris est mandaté pour diffuser et valoriser des signatures d’artistes basé.e.s en Fédération Wallonie-Bruxelles, dans une perspective d’optimisation de leur irradiation en France.">
  <meta property="og:image" content="https://cwb.fr/media/site/c6411e3f2c-1635332672/cwb-site-internet-image-partage-211021-1200x630-crop.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="" />
  <meta name="twitter:text:title" content="Centre Wallonie Bruxelles | Agenda">
  <meta name="twitter:title" content="Centre Wallonie Bruxelles | Agenda">
  <meta name="twitter:description" content="Au travers d’une programmation résolument désanctuarisante et transdisciplinaire, le Centre Wallonie Bruxelles Paris est mandaté pour diffuser et valoriser des signatures d’artistes basé.e.s en Fédération Wallonie-Bruxelles, dans une perspective d’optimisation de leur irradiation en France.">
  <meta name="twitter:image" content="https://cwb.fr/media/site/c6411e3f2c-1635332672/cwb-site-internet-image-partage-211021-1200x630-crop.jpg">

  <script defer data-domain="cwb.fr" src=https://plausible.io/js/plausible.js></script>
  <script>
    window.plausible = window.plausible || function() {
      (window.plausible.q = window.plausible.q || []).push(arguments)
    }
  </script>

  <link href="https://cwb.fr/assets/css/bundle.css" rel="stylesheet"></head>

<body>
      <main class="main js-main">
      <header class="header js-header">
  <nav class="header__nav js-headerNav">
    <h1 class="header__title">
      <a href="https://cwb.fr" class="header__title__item js-hoverTag js-siteTitle js-titleItem"><span>C<span class="js-titleText">entre</span>W<span class="js-titleText">allonie</span>B<span class="js-titleText">ruxelles</span></span></a>
      <a href="https://cwb.fr" class="header__title__item js-hoverTag js-siteTitle"><span>Paris</span></a>
    </h1>
          <div class="header__item">
                  <a class="header__link js-headerLink js-hoverTag selected" href="https://cwb.fr/agenda">
            <span>Agenda</span>
          </a>
              </div>
          <div class="header__item js-headerItem">
                  <div class="header__link js-headerLinkWithSub js-hoverTag">
            <span>Contenu augmenté</span>
          </div>
          <a class="header__subitem js-headerLink js-hoverTag" href="https://cwb.fr/contenu-augmente">
            <span>Articles</span>
          </a>
                      <a class="header__subitem js-headerLink js-hoverTag" href="https://cwb.fr/contenu-augmente/magazine-absys">
              <span>Magazine Absys</span>
            </a>
                      <a class="header__subitem js-headerLink js-hoverTag" href="https://cwb.fr/contenu-augmente/catalogues">
              <span>Catalogues</span>
            </a>
                      <a class="header__subitem js-headerLink js-hoverTag" href="https://cwb.fr/contenu-augmente/radio-fractale">
              <span>Radio Fractale</span>
            </a>
                        </div>
    
    
          <div class="header__item">
        <a class="header__link js-headerLink js-hoverTag" href="https://cwb.fr/a-propos" >
          <span>À propos</span>
        </a>
      </div>
          <div class="header__item">
        <a class="header__link js-headerLink js-hoverTag" href="https://cwb.fr/infos-pratiques" >
          <span>Infos pratiques</span>
        </a>
      </div>
          <div class="header__item">
        <a class="header__link js-headerLink js-hoverTag" href="https://cwb.fr/billetterie"  target="_blank">
          <span>Billetterie</span>
        </a>
      </div>
          <div class="header__item">
        <a class="header__link js-headerLink js-hoverTag" href="https://cwb.fr/recherche" >
          <span>Recherche</span>
        </a>
      </div>
      </nav>
</header>      <section class="content js-content" id="agenda" >
        <article class="content__inner">
        
<article class="agenda__dates">
  <div class="agenda__slideshow js-agendaSlideshowMonth">
    <div class="agenda__slideshow__inner">
      <div class="agenda__slide">Avril</div>
    </div>
    <div class="agenda__arrows">
  <a href="https://cwb.fr/agenda/mars-2025" class="js-changeMonth js-hoverLink agenda__arrow agenda__arrow--n">
    <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
      <path vector-effect="non-scaling-stroke" d="m0 500 500-500 500 500" fill="none" stroke-miterlimit="10" />
    </svg>
  </a>
  <a href="https://cwb.fr/agenda/mai-2025" class="js-changeMonth js-hoverLink agenda__arrow agenda__arrow--s">
    <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
      <path vector-effect="non-scaling-stroke" d="m1000 0-500 500-500-500" fill="none" stroke-miterlimit="10" />
    </svg>
  </a>
</div>  </div>
  <div class="agenda__slideshow js-agendaSlideshowYear">
    <div class="agenda__slideshow__inner">
      <div class="agenda__slide">2025</div>
    </div>
    <div class="agenda__arrows">
  <a href="https://cwb.fr/agenda/janvier-2024" class="js-changeMonth js-hoverLink agenda__arrow agenda__arrow--n">
    <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
      <path vector-effect="non-scaling-stroke" d="m0 500 500-500 500 500" fill="none" stroke-miterlimit="10" />
    </svg>
  </a>
  <a href="" class="js-changeMonth js-hoverLink agenda__arrow agenda__arrow--s hidden no-ajax">
    <svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg">
      <path vector-effect="non-scaling-stroke" d="m1000 0-500 500-500-500" fill="none" stroke-miterlimit="10" />
    </svg>
  </a>
</div>  </div>
</article><div class="js-agendaInner">
  
<article class="agenda__filters">
  <div class="agenda__filters__inner">
          <div class="agenda__filters__item js-filtersItem">
        <div class="agenda__filters__title js-filterGroup" data-group="espace"><span>Espace</span></div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="in-situ" data-group="espace">
            <span>In-Situ</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="in-situ-satellite" data-group="espace">
            <span>In-Situ Satellite</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="in-situ-echo" data-group="espace">
            <span>In-Situ Echo</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="hors-les-murs-constellations" data-group="espace">
            <span>Hors les murs Constellations</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="saison-parallele" data-group="espace">
            <span>Saison Parallèle</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="mise-a-disposition" data-group="espace">
            <span>Mise à disposition</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="librairie" data-group="espace">
            <span>Librairie</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="cyberespace" data-group="espace">
            <span>Cyberespace</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="hors-les-murs-sentinelle" data-group="espace">
            <span>Hors les murs Sentinelle</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="hors-les-murs-satellite" data-group="espace">
            <span>Hors-Les-Murs Satellite</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="in-situ-constellations" data-group="espace">
            <span>In-Situ Constellations</span>
          </div>
              </div>
          <div class="agenda__filters__item js-filtersItem">
        <div class="agenda__filters__title js-filterGroup" data-group="territoire"><span>Territoire</span></div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="arts-vivants" data-group="territoire">
            <span>Arts vivants</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="arts-visuels" data-group="territoire">
            <span>Arts visuels</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="arts-numeriques-hybrides" data-group="territoire">
            <span>Arts numériques & hybrides</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="architecture-design-espace" data-group="territoire">
            <span>Architecture / Design / Espace</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="cinema" data-group="territoire">
            <span>Cinéma</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="lettres" data-group="territoire">
            <span>Lettres</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="intercession" data-group="territoire">
            <span>Intercession</span>
          </div>
              </div>
          <div class="agenda__filters__item js-filtersItem">
        <div class="agenda__filters__title js-filterGroup" data-group="dispositifs-cycles"><span>Dispositifs & Cycles</span></div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="performances" data-group="dispositifs-cycles">
            <span>Performances</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="exposition" data-group="dispositifs-cycles">
            <span>Exposition</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="rencontre" data-group="dispositifs-cycles">
            <span>Rencontre</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="installation" data-group="dispositifs-cycles">
            <span>Installation</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="avant-premiere" data-group="dispositifs-cycles">
            <span>Avant-première</span>
          </div>
                  <div class="agenda__filter js-filter js-hoverTag" data-filter="conference" data-group="dispositifs-cycles">
            <span>Conférence</span>
          </div>
              </div>
        <div class="agenda__filters__reset js-filtersReset js-hoverLink">
      <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
        <path vector-effect="non-scaling-stroke" fill="none" stroke="#000" stroke-miterlimit="10" d="m0 0 1000 1000" />
        <path vector-effect="non-scaling-stroke" fill="none" stroke="#000" stroke-miterlimit="10" d="m0 1000 1000-1000" />
      </svg>
    </div>
  </div>
</article><article class="agenda__table">
  <div class="agenda__table__inner js-eventGrid">
    
<article id="la-cinematheque-du-documentaire-a-la-bpi-les-yeux-doc-a-midi-voyage-voyages" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ cinema">
  <div class="eventblock__inner">
    <div class="eventblock__date">10.01.25 — 04.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=cinema">
              <span>Cinéma</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/la-cinematheque-du-documentaire-a-la-bpi-les-yeux-doc-a-midi-voyage-voyages" class="eventblock__title js-hoverLink">La cinémathèque du documentaire à la Bpi&#160;: Les yeux doc à midi • Voyage, voyages</a>
          </div>
</article>
<article id="exposition-belladone-de-tatiana-wolska-foire-internationale-drawing-now-art-fair-paris" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-constellations arts-visuels">
  <div class="eventblock__inner">
    <div class="eventblock__date">24.01.25 — 10.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-constellations">
              <span>Hors les murs Constellations</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/exposition-belladone-de-tatiana-wolska-foire-internationale-drawing-now-art-fair-paris" class="eventblock__title js-hoverLink">Exposition Belladone de Tatiana Wolska #Foire internationale Drawing now Art Fair_Paris</a>
          </div>
</article>
<article id="exposition-the-tuning-of-the-afterworld-la-box-l-ensa-le-chateau-d-eau-bourges" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-constellations arts-visuels">
  <div class="eventblock__inner">
    <div class="eventblock__date">07.02.25 — 14.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-constellations">
              <span>Hors les murs Constellations</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/exposition-the-tuning-of-the-afterworld-la-box-l-ensa-le-chateau-d-eau-bourges" class="eventblock__title js-hoverLink">Exposition&#160;: «&#160;The Tuning of the Afterworld&#160;» # La Box, l’Ensa & le Château d’eau_Bourges</a>
          </div>
</article>
<article id="justine-bougerol-dans-l-exposition-chaosmos-au-maif-social-club-a-paris" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-constellations arts-visuels exposition">
  <div class="eventblock__inner">
    <div class="eventblock__date">08.02.25 — 26.07.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-constellations">
              <span>Hors les murs Constellations</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=exposition">
              <span>Exposition</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/justine-bougerol-dans-l-exposition-chaosmos-au-maif-social-club-a-paris" class="eventblock__title js-hoverLink">Justine Bougerol dans l’exposition Chaosmos au MAIF Social Club à Paris</a>
          </div>
</article>
<article id="installation-22-novembre-2014-cleveland-de-pierre-larauza" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ arts-visuels installation">
  <div class="eventblock__inner">
    <div class="eventblock__date">06.03.25 — 12.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=installation">
              <span>Installation</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/exposition-culturfoundry-mehdi-georges-lahlou" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/installation-22-novembre-2014-cleveland-de-pierre-larauza" class="eventblock__title js-hoverLink">Installation «&#160;22 novembre 2014, Cleveland&#160;» de Pierre Larauza</a>
          </div>
</article>
<article id="installation-la-palmeraie-des-memoires-de-mehdi-georges-lahlou" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ arts-visuels installation">
  <div class="eventblock__inner">
    <div class="eventblock__date">06.03.25 — 12.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=installation">
              <span>Installation</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/exposition-culturfoundry-mehdi-georges-lahlou" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/installation-la-palmeraie-des-memoires-de-mehdi-georges-lahlou" class="eventblock__title js-hoverLink">Installation «&#160;La Palmeraie des Mémoires&#160;» de Mehdi-Georges Lahlou</a>
          </div>
</article>
<article id="yokai-japanese-spirits-de-stephan-goldrajch-a-la-galerie-xippas-paris" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-constellations arts-visuels exposition">
  <div class="eventblock__inner">
    <div class="eventblock__date">15.03.25 — 19.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-constellations">
              <span>Hors les murs Constellations</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=exposition">
              <span>Exposition</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/yokai-japanese-spirits-de-stephan-goldrajch-a-la-galerie-xippas-paris" class="eventblock__title js-hoverLink">&#8220;Yokaï, Japanese Spirits&#8221; de Stephan Goldrajch à la Galerie Xippas, Paris</a>
          </div>
</article>
<article id="exposition-collective-prix-carre-sur-seine-2024" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ-satellite arts-visuels exposition">
  <div class="eventblock__inner">
    <div class="eventblock__date">27.03.25 — 12.04.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ-satellite">
              <span>In-Situ Satellite</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=exposition">
              <span>Exposition</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/exposition-collective-prix-carre-sur-seine-2024" class="eventblock__title js-hoverLink">Exposition collective KnalPatronen | CSS @CWB #Prix Carré sur Seine 2024</a>
          </div>
</article>
<article id="installation-roscosmic-space-shop-de-louise-charlier-derriere-le-miroir" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ arts-visuels installation">
  <div class="eventblock__inner">
    <div class="eventblock__date">27.03.25 — 11.05.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=installation">
              <span>Installation</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/installation-roscosmic-space-shop-de-louise-charlier-derriere-le-miroir" class="eventblock__title js-hoverLink">Installation «&#160;Roscosmic space shop&#160;» de Louise Charlier #Derrière le miroir</a>
          </div>
</article>
<article id="exquise-belgique-conversation-autour-de-deux-ouvrages-de-genevieve-damas-et-pierre-mertens" class="eventblock js-eventBlock eventblock--small" data-filters="librairie lettres conference">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">01.04.25</div>
          <div class="eventblock__hour">19h30</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=librairie">
              <span>Librairie</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=lettres">
              <span>Lettres</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=conference">
              <span>Conférence</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/exquise-belgique-genevieve-damas-et-pi" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/exquise-belgique-conversation-autour-de-deux-ouvrages-de-genevieve-damas-et-pierre-mertens" class="eventblock__title js-hoverLink">Exquise Belgique&#160;: Conversation autour de deux ouvrages de Geneviève Damas et Pierre Mertens</a>
          </div>
</article>
<article id="belgian-theory-cycle-liberalisme-autoritaire-seance-2" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ lettres rencontre">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">02.04.25</div>
          <div class="eventblock__hour">19h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=lettres">
              <span>Lettres</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=rencontre">
              <span>Rencontre</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/belgian-theory-medias-et-liberalisme-autoritaire-relais-ou-contre-pouvoir" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/belgian-theory-cycle-liberalisme-autoritaire-seance-2" class="eventblock__title js-hoverLink">Belgian Theory – Cycle Libéralisme autoritaire&#160;: Séance 2</a>
          </div>
</article>
<article id="soiree-rhizome-autour-de-florence-minder-avec-son-spectacle-good-mourning" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ arts-vivants rencontre">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">03.04.25</div>
          <div class="eventblock__hour">19h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-vivants">
              <span>Arts vivants</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=rencontre">
              <span>Rencontre</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/soiree-rhizomique-good-mourning" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/soiree-rhizome-autour-de-florence-minder-avec-son-spectacle-good-mourning" class="eventblock__title js-hoverLink">Soirée Rhizome autour de Florence Minder avec son spectacle Good Mourning</a>
          </div>
</article>
<article id="aubane-filee-au-festival-circulation-s-paris" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ-constellations arts-visuels">
  <div class="eventblock__inner">
    <div class="eventblock__date">05.04.25 — 01.06.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ-constellations">
              <span>In-Situ Constellations</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/aubane-filee-au-festival-circulation-s-paris" class="eventblock__title js-hoverLink">Aubane Filée au Festival CIRCULATION(S)_Paris</a>
          </div>
</article>
<article id="belgomania-focus-sur-la-photographie-emergente-de-la-federation-wallonie-bruxelles" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-satellite arts-visuels exposition">
  <div class="eventblock__inner">
    <div class="eventblock__date">05.04.25 — 25.05.25</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-satellite">
              <span>Hors-Les-Murs Satellite</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-visuels">
              <span>Arts visuels</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=exposition">
              <span>Exposition</span>
            </a>
                  </div>
                        </div>
          <a href="https://cwb.fr/agenda/belgomania-focus-sur-la-photographie-emergente-de-la-federation-wallonie-bruxelles" class="eventblock__title js-hoverLink">Belgomania au Séchoir-Port Boinot & Le Pilori à Niort</a>
          </div>
</article>
<article id="avant-premiere-mexico-86-un-film-de-cesar-diaz" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ cinema avant-premiere">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">07.04.25</div>
          <div class="eventblock__hour">20h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=cinema">
              <span>Cinéma</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=avant-premiere">
              <span>Avant-première</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/mexico-86-de-cesar-diaz" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/avant-premiere-mexico-86-un-film-de-cesar-diaz" class="eventblock__title js-hoverLink">Avant-première&#160;: «&#160;MEXICO 86&#160;» un film de César Diaz</a>
          </div>
</article>
<article id="belgian-theory-cycle-liberalisme-autoritaire-seance-3" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ lettres rencontre">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">09.04.25</div>
          <div class="eventblock__hour">19h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=lettres">
              <span>Lettres</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=rencontre">
              <span>Rencontre</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/belgian-theory-une-grille-de-lecture-pour-les-regimes-contemporains" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/belgian-theory-cycle-liberalisme-autoritaire-seance-3" class="eventblock__title js-hoverLink">Belgian Theory – Cycle Libéralisme autoritaire&#160;: Séance 3</a>
          </div>
</article>
<article id="la-seizieme-arcane-carnavalo-en-nef-des-marges" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ-satellite lettres performances">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">11.04.25</div>
          <div class="eventblock__hour">19h30</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ-satellite">
              <span>In-Situ Satellite</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=lettres">
              <span>Lettres</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=performances">
              <span>Performances</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/la-seizieme-arcane-carnavalo-en-nef-des-marges" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/la-seizieme-arcane-carnavalo-en-nef-des-marges" class="eventblock__title js-hoverLink">La seizième arcane - Carnavalo en Nef des marges dans l’ombre des certitudes</a>
          </div>
</article>
<article id="bistrot-litteraire-avec-giuseppe-santoliquido-et-sevy-neige" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ lettres rencontre">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">16.04.25</div>
          <div class="eventblock__hour">12h30</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=lettres">
              <span>Lettres</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=rencontre">
              <span>Rencontre</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/bistrot-litteraire-giuseppe-santoliquido-et-sevy-neige" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/bistrot-litteraire-avec-giuseppe-santoliquido-et-sevy-neige" class="eventblock__title js-hoverLink">Bistrot littéraire avec Giuseppe Santoliquido et Sevy Neige</a>
          </div>
</article>
<article id="conference-arva-vacua-des-territoires-sans-cartes-geopoetiques-abyssales-siderales-a-l-ere-liquide-symbiosium2" class="eventblock js-eventBlock eventblock--small" data-filters="hors-les-murs-satellite conference performances">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">25.04.25</div>
          <div class="eventblock__hour">19h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=hors-les-murs-satellite">
              <span>Hors-Les-Murs Satellite</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=conference">
              <span>Conférence</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=performances">
              <span>Performances</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/symbiosium-2_-cosmologies-speculatives" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/conference-arva-vacua-des-territoires-sans-cartes-geopoetiques-abyssales-siderales-a-l-ere-liquide-symbiosium2" class="eventblock__title js-hoverLink">Conférence «&#160;Arva Vacua&#160;»&#160;: Des territoires sans cartes – géopoétiques abyssales & sidérales à l&#8217;ère liquide #Symbiosium2</a>
          </div>
</article>
<article id="avant-premiere-merckx-un-film-un-film-de-christophe-hermans-et-boris-tilquin" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ cinema avant-premiere">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">28.04.25</div>
          <div class="eventblock__hour">20h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ">
              <span>In-Situ</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=cinema">
              <span>Cinéma</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=avant-premiere">
              <span>Avant-première</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/merckx-un-film-un-film-de-christophe-hermans-et-boris-tilquin?_gl=1*n9qxn*_gcl_au*Nzg1MDQxMzAzLjE3NDA5ODkyNzcuMTExODQ1MzU0Mi4xNzQyMjk0MDIwLjE3NDIyOTQ5Mjc.*_ga*MzUyMDgxNjM2LjE3MDczMDE5OTg.*_ga_39H9VBFX7G*MTc0MjgxMjM1OC4xMDQzLjEuMTc0MjgxMjM2Ni41Mi4wLjEzNTkxMDk5NjY." class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/avant-premiere-merckx-un-film-un-film-de-christophe-hermans-et-boris-tilquin" class="eventblock__title js-hoverLink">Avant-première&#160;: «&#160;MERCKX&#160;» un film un film de Christophe Hermans et Boris Tilquin</a>
          </div>
</article>
<article id="laure-limongi-le-service-des-panacees-villa-medicis-2" class="eventblock js-eventBlock eventblock--small" data-filters="in-situ-satellite arts-vivants performances">
  <div class="eventblock__inner">
    <div class="eventblock__date eventblock__date--withhour">29.04.25</div>
          <div class="eventblock__hour">19h</div>
        <div class="eventblock__tags">
              <div class="eventblock__tags__inner">
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?espace=in-situ-satellite">
              <span>In-Situ Satellite</span>
            </a>
                      <a class="eventblock__tag js-hoverTag" href="https://cwb.fr/agenda/prochainement?territoire=arts-vivants">
              <span>Arts vivants</span>
            </a>
                      <a class="eventblock__tag js-hoverTag eventblock__tag--hidden" href="https://cwb.fr/agenda/prochainement?dispositifs-cycles=performances">
              <span>Performances</span>
            </a>
                  </div>
                  <div class="eventblock__tickets__container">
            <a target="_blank" href="https://my.weezevent.com/le-service-des-panacees-de-laure-limongi" class="eventblock__tickets js-hoverTag js-ticketEvent"><span>Billetterie</span></a>
          </div>
                        </div>
          <a href="https://cwb.fr/agenda/laure-limongi-le-service-des-panacees-villa-medicis-2" class="eventblock__title js-hoverLink">Laure Limongi «&#160;Le Service des Panacées&#160;» #Villa Medicis - 2e séance</a>
          </div>
</article>  </div>
</article></div>

  </article>
  <footer class="footer">
  <div class="footer__inner">
    <div class="footer__section">
      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr">Centre Wallonie Bruxelles</a></div>
      <div class="footer__item footer__item--double"><a target="_blank" href="https://g.page/CentreWallonieBruxelles">127-129 rue Saint-Martin 75004 Paris</a></div>
      <div class="footer__item"><a class="js-hoverLink" target="_blank" href="tel:01 53 01 96 96">01 53 01 96 96</a></div>
      <div class="footer__item footer__item--double">
                  <a target="_blank" class="footer__social" href="https://www.facebook.com/CentreWallonieBruxellesParis/">Facebook</a>
                  <a target="_blank" class="footer__social" href="https://www.instagram.com/cwb_paris/">Instagram</a>
                  <a target="_blank" class="footer__social" href="https://soundcloud.com/cwb_paris">Soundcloud</a>
                  <a target="_blank" class="footer__social" href="https://vimeo.com/cwbparis">Vimeo</a>
                  <a target="_blank" class="footer__social" href="https://www.youtube.com/user/TVcwb">Youtube</a>
              </div>
      <div class="footer__item"><a class="js-hoverLink" target="_blank" href="mailto:info@cwb.fr">info@cwb.fr</a></div>
    </div>
    <div class="footer__section">
              <div class="footer__line">
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/billetterie"  target="_blank">Billetterie</a></div>
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/espace-presse" >Espace presse</a></div>
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/newsletter" >Newsletter</a></div>
                  </div>
              <div class="footer__line">
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/mentions-legales" >Mentions légales</a></div>
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/politique-de-confidentialite" >Politique de confidentialité</a></div>
                      <div class="footer__item"><a class="js-hoverLink" href="https://cwb.fr/infos-pratiques" >Contact</a></div>
                  </div>
          </div>
  </div>
</footer>  </section>
  <article class="radio__container js-radioContainer">
  <div class="radio__item">
    <div class="radio__item__outer">
      <div class="radio__item__inner">
        <div class="radio__item__title js-marquee" data-length="3000">
          <a href="" class="js-radioTitle js-hoverLink"></a>
        </div>
        <div class="radio__player">
          <div data-href="" class="radio__player__inner js-radioPlay">
            <svg class="play js-hoverLink" viewBox="0 0 500 1000" xmlns="http://www.w3.org/2000/svg">
              <path vector-effect="non-scaling-stroke" d="m0 0 500 500-500 500" fill="none" stroke="#000" stroke-miterlimit="10" />
            </svg>
            <svg class="pause js-hoverLink" viewBox="0 0 500 1000" xmlns="http://www.w3.org/2000/svg">
              <path vector-effect="non-scaling-stroke" d="m100 0v1000" fill="none" stroke="#000" stroke-miterlimit="10" />
              <path vector-effect="non-scaling-stroke" d="m400 0v1000" fill="none" stroke="#000" stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
        <div class="radio__next">
          <div data-href="" class="radio__next__inner js-radioNext">
            <svg class="js-hoverLink" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
              <path vector-effect="non-scaling-stroke" d="m100 0 500 500-500 500" fill="none" stroke="#000" stroke-miterlimit="10" />
              <path vector-effect="non-scaling-stroke" d="m450 0 500 500-500 500" fill="none" stroke="#000" stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
        <div class="radio__close">
          <div class="radio__close__inner">
            <svg class="js-hoverLink js-radioClose" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
              <path vector-effect="non-scaling-stroke" fill="none" stroke="#000" stroke-miterlimit="10" d="m0 0 1000 1000" />
              <path vector-effect="non-scaling-stroke" fill="none" stroke="#000" stroke-miterlimit="10" d="m0 1000 1000-1000" />
            </svg>
          </div>
        </div>
      </div>
      <div class="radio__info">
        <div class="radio__progress js-radioProgress" style='--progress: 0'></div>
        <div class="radio__info__inner">
          <div class="radio__info__text js-radioNextTitle">Podcast suivant: </div>
          <div class="js-radioTimer">00:00</div>
          <div class="js-radioDuration"></div>
        </div>
      </div>
    </div>
  </div>
</article>  </main>
  <div class="cursor js-cursor"></div>
<script type="text/javascript" src="https://forms.sbc08.com/form.js"></script>
<script src="https://cwb.fr/assets/js/bundle.js"></script>

</body>

</html>